.task-form {
  width: 90%;
  margin: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -80%;
  transform: translate(20%) scale(0);
  z-index: 10;
  transition: 0.5s;
  position: fixed;
}
.task-form.active {
  transition: 0.5s;
  top: 8%;
  transform: scale(1);
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.55);
}

.form-content {
  @include form-text;
  background-color: #fff;
  border: 12px solid rgb(149, 134, 252);
  border-radius: 20px;
  padding: 15px;
  @media (max-width: 500px) {
    font-size: 1.2rem;
  }
}
.form-text {
  border-bottom: 3px solid #494747;
}
.form-item {
  display: flex;
  flex-direction: column;
}
.user-btn_wrap {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  .create-task_btn {
    transition: 0.3s;
    @include form-button;
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    @media (max-width: 500px) {
      font-size: 1.2rem;
      margin-left: 5px;
    }
  }
  .create-task_btn:hover {
    transform: scale(1.05);
  }
  .create-task_btn:active {
    transform: scale(1);
    color: #451046;
  }
  .cancel-task_btn {
    transition: 0.3s;
    background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
    @include form-button;
    @media (max-width: 500px) {
      font-size: 1.2rem;
      margin-right: 5px;
    }
  }
  .cancel-task_btn:hover {
    transform: scale(1.05);
  }
  .cancel-task_btn:active {
    transform: scale(1);
    color: #451046;
  }
}
.form-item label {
  margin-top: 25px;
  margin-bottom: 5px;
}
#user_description {
  border: 1px solid #494747;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px;
  @include placeholder-text;
}
#user_author {
  border: 1px solid #494747;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 40px;
  padding: 10px;
  @include placeholder-text;
}
#user_title {
  border: 1px solid #494747;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  @include placeholder-text;
}

.close {
  cursor: pointer;
  transition: 0.3s;
  float: right;
}
.close:hover {
  color: #ce2345f8;
}
.close:active {
  transform: scale(0.9);
}
.input-error {
  color: red;
  text-align: center;
  align-self: center;
  display: none;
}
