.site_header {
  background: #121212;
  .header_container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    box-sizing: border-box;

    .header_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        @include h1;
        font-size: 2rem;
        @media (max-width: 580px) {
          font-size: 1.5rem;
        }
        @media (max-width: 450px) {
          font-size: 1rem;
        }
      }
      .header_title {
        @include h1;
        font-size: 3rem;
        @media (max-width: 580px) {
          font-size: 2.5rem;
        }
        @media (max-width: 450px) {
          font-size: 1.6rem;
        }
      }
      .date {
        @include h1;
        font-size: 2rem;
        @media (max-width: 580px) {
          font-size: 1.5rem;
        }
        @media (max-width: 450px) {
          font-size: 1rem;
        }
      }
    }
  }
}
