.main {
  z-index: 3;
  padding: 100px 0;
  position: relative;
  // background-image: url(../images/main-screen.png);
  background-image: url(../images/ms1.jpg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}
.container {
  min-height: 370px;
}
.wrap {
  @media (max-width: 1160px) {
    flex-direction: column;
  }
}
.main::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  display: block;
  z-index: 1;
}
.list {
  margin: 0 15px;
  @include list_item-txt;
  // .list_item
  &_item {
    position: relative;
    @media (max-width: 1160px) {
      margin-top: 20px;
    }
    @media (max-width: 450px) {
      max-width: 500px;
    }
  }

  // .list_item-title

  &_item-title {
    @media (max-width: 1160px) {
      width: 100%;
    }
    padding: 20px 10px;
    @include list_item-bg;
  }

  // .list_item-btn-add

  &_item-btn-add {
    transition: 0.3s;
    position: absolute;
    top: 20;
    right: 10px;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    text-align: center;
    align-items: center;
    padding: 2px;
    font-size: 25px;
    border-radius: 6px;
    color: #ffffff;
    border: #c060a1;
    background: #c060a1;
  }
  &_item-btn-add:hover {
    transform: scale(1.15);
  }
  &_item-btn-add:active {
    transform: scale(1);
  }

  // .list_item-btn-delete

  &_item-btn-delete {
    transition: 0.3s;
    position: absolute;
    top: 20;
    right: 10px;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    padding: 2px;
    font-size: 25px;
    border-radius: 6px;
    border: #c060a1;
    color: #ffffff;
    background: #c060a1;
  }
  &_item-btn-delete:hover {
    transform: scale(1.15);
    border: #f22d0f;
    color: #ffffff;
    background: #f22d0f;
  }
  &_item-btn-delete:active {
    transform: scale(1);
  }
  // .list_item-total

  &_item-total {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin-top: 20px;
    @include list_item-bg;
    @media (max-width: 530px) {
      justify-content: start;
      width: 100%;
    }
  }

  // .list_item-total-num

  &_item-total-num {
    margin-left: 190px;
    @media (max-width: 530px) {
      margin-left: 5px;
    }
  }

  // .list_item-task

  &_item-task {
    transition: 0.3s;
    opacity: 1;
    max-width: 300px;
    word-break: break-all;
    position: relative;
    padding: 10px;
    margin-top: 40px;
    background: #c060a1;
    border-radius: 10px;
    border: 12px solid #121212;
    @media (max-width: 1160px) {
      max-width: 1170px;
    }
    &_item-task.hidden {
      opacity: 0;
    }
  }
}
.task-button {
  display: block;
  margin-left: auto;
  cursor: pointer;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 1rem;
  @include h1;
  color: #c060a1;
  padding: 2px;
  transition: 0.3s;
}
.task-button:hover {
  transform: scale(1.1);
}
.task-button:active {
  transform: scale(1);
}
.task-button-delete:hover {
  transform: scale(1.15);
  border-color: #f22d0f;
  color: #ffffff;
  background: #f22d0f;
}
.task-button-delete:active {
  transform: scale(1);
}
.task-button-delete {
  display: block;
  cursor: pointer;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 1rem;
  @include h1;
  color: #c060a1;
  padding: 2px;
  transition: 0.3s;
}
// .fa-plus {
// }
// .fa-trash {
// }
.task-title {
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
  font-weight: 400;
}
.task-description {
  padding-bottom: 5px;
  margin: 10px 0;
  border-bottom: 2px solid #fff;
}
.task-author {
  padding-bottom: 5px;
  margin: 10px 0;
}
.task_buttons {
  display: flex;
  justify-content: space-between;
}
